Repository ekuznetski/react.whitelabel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update:wl:nginx, update:wl:docker

Path conditions:
  update:wl:nginx: any of: deploy-scripts/nginx/**/*
  update:wl:docker: any of: deploy-scripts/docker-compose.yml, deploy-scripts/Dockerfile, deploy-scripts/pm2_services.json, deploy-scripts/restart_nginx.sh, deploy-scripts/nginx.sh

fix permission issue in scp
  .gitlab-ci.yml
Due: none

fix incorrect var in docker stage
  .gitlab-ci.yml
Due: none

fix wrong path in deploy step
  .gitlab-ci.yml
Due: none

fix container name
  deploy-scripts/docker-compose.yml
Due: update:wl:docker

[wl] complete tabs
  src/components/pages/portal/transactionStatement/TransactionStatement.scss
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/dropdown/Dropdown.tsx
  src/components/shared/tabs/Tabs.scss
  src/components/shared/tabs/Tabs.tsx
  src/components/shared/tabs/tabs-context.tsx
Due: none

[wl] remove filled state from input if input is empty
  src/components/shared/form/input/Input.tsx
Due: none

[wl] add filters on statemnt page
  src/components/pages/portal/transactionStatement/TransactionStatement.scss
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/form/datepicker/DatePicker.scss
  src/components/shared/form/datepicker/DatePicker.tsx
  src/components/shared/form/select/Select.scss
  src/components/shared/form/select/Select.tsx
  src/components/shared/tabs/Tabs.scss
  src/components/shared/tabs/tabs-context.tsx
  src/variables.scss
Due: none

fix validator on statment page
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
Due: none

[wl] update IDatePicker
  src/components/shared/form/datepicker/DatePicker.tsx
Due: none

[wl] update IDatePicker
  src/components/pages/portal/deposit/components/skrillMethod/skrillMethod.tsx
Due: none

add Tab disabled, fix color Datepicker
  src/components/shared/form/datepicker/DatePicker.scss
  src/components/shared/form/select/Select.scss
  src/components/shared/form/select/Select.tsx
  src/components/shared/tabs/Tabs.tsx
  src/components/shared/tabs/tabs-context.tsx
Due: none

fix tabs deisable style
  src/components/shared/tabs/Tabs.scss
  src/components/shared/tabs/Tabs.tsx
Due: none

nginx update script
  .gitlab-ci.yml
Due: none

fix missing &&
  .gitlab-ci.yml
Due: none

add missing port expose
  deploy-scripts/docker-compose.yml
Due: update:wl:docker

fix Tabs disabled
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/tabs/Tabs.scss
  src/components/shared/tabs/Tabs.tsx
  src/components/shared/tabs/tabs-context.tsx
  src/variables.scss
Due: none

testing
  deploy-scripts/docker-compose.yml
Due: update:wl:docker

fix error in dockerfile
  .gitlab-ci.yml
  deploy-scripts/docker-compose.yml
Due: update:wl:docker

testing nginx bypass
  deploy-scripts/docker-compose.yml
  deploy-scripts/nginx/conf.d/wl.conf
Due: update:wl:nginx, update:wl:docker

revert testing
  deploy-scripts/docker-compose.yml
  deploy-scripts/nginx/conf.d/wl.conf
Due: update:wl:nginx, update:wl:docker

new build method
  .gitlab-ci.yml
  deploy-scripts/README.md
  deploy-scripts/nginx.sh
  deploy-scripts/nginx/conf.d/wl.conf
  deploy-scripts/nginx/nginx.conf
  deploy-scripts/pm2_services.json
  deploy-scripts/restart_nginx.sh
Due: update:wl:nginx, update:wl:docker

missing updates to new build process
  .gitlab-ci.yml
  deploy-scripts/Dockerfile
  deploy-scripts/docker-compose.yml
Due: update:wl:docker

mitigate issue with npm install
  deploy-scripts/Dockerfile
Due: update:wl:docker

[general] add animation to Select
  package.json
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/form/datepicker/DatePicker.tsx
  src/components/shared/form/select/Select.scss
  src/components/shared/form/select/Select.tsx
  src/components/shared/tabs/Tabs.tsx
  yarn.lock
Due: none

[general] remove Select defaultMeneIsOpen
  src/components/shared/form/select/Select.tsx
Due: none

[general] add multi select
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/form/radio/Radio.tsx
  src/components/shared/form/select/Select.scss
  src/components/shared/form/select/Select.tsx
Due: none

[general] fix select singleValue position
  src/components/shared/form/input/Input.scss
  src/components/shared/form/select/Select.scss
Due: none

[general] fix select
  src/components/shared/form/select/Select.tsx
Due: none

[wl] add deposit page without api and css
  .idea/watcherTasks.xml
  src/components/pages/portal/deposit/Deposit.tsx
  src/components/pages/portal/deposit/components/bilingDetailsModal/BillingDetailsModal.tsx
  src/components/pages/portal/deposit/components/cardMethod/CardMethod.tsx
  src/components/pages/portal/deposit/components/creditCardInfoModal/CreditCardInfoModal.tsx
  src/components/pages/portal/deposit/components/detailsFormWrapper/DetailsFormWrapper.tsx
  src/components/pages/portal/deposit/components/detailsHeader/DetailsHeader.tsx
  src/components/pages/portal/deposit/components/index.ts
  src/components/pages/portal/deposit/components/netellerMethod/NetellerMethod.tsx
  src/components/pages/portal/deposit/components/skrillMethod/skrillMethod.tsx
  src/components/pages/portal/deposit/components/tabContentBankWire/TabContentBankWire.scss
  src/components/pages/portal/deposit/components/tabContentBankWire/TabContentBankWire.tsx
  src/components/pages/portal/deposit/components/tabContentChooseAmount/TabContentChooseAmount.scss
  src/components/pages/portal/deposit/components/tabContentChooseAmount/TabContentChooseAmount.tsx
  src/components/pages/portal/deposit/depositContext.tsx
  src/components/shared/form/radio/Radio.scss
  src/components/shared/form/radio/Radio.tsx
  src/components/shared/tabs/Tabs.tsx
  src/components/shared/tabs/tabs-context.tsx
  src/domain/enums/deposit.enum.ts
  src/domain/enums/index.ts
Due: none

bump node to 12 on docker container
  deploy-scripts/Dockerfile
Due: update:wl:docker

[general] fix select animation (change react-spring HOC to hook)
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/shared/form/select/Select.tsx
Due: none

bump ci-runner to node 12
  .gitlab-ci.yml
Due: none

[wl] add regex and onchange handler to input
  src/components/shared/form/input/Input.tsx
Due: none

[registration] minor update for fields
  src/components/pages/auth/registration/components/firstStep/FirstStep.tsx
  src/components/pages/auth/registration/components/secondStep/SecondStep.tsx
Due: none

[registration] minor store refactoring
  src/store/_app.reducer.ts
  src/store/_data.reducer.ts
  src/store/actions.ts
  src/store/store.interface.ts
Due: none

[general] add profile fetching on each page
  src/domain/_default/routers.config.ts
  src/store/_data.reducer.ts
Due: none

[routes] update guards
  src/components/core/router/Router.tsx
  src/domain/_default/routers.config.ts
  src/domain/interfaces/app/routeConfig.interface.ts
  src/domain/interfaces/app/routeGuard.interface.ts
  src/store/_app.reducer.ts
  src/store/actions.ts
  src/store/store.interface.ts
Due: none

[routes] update auth pages
  src/components/pages/auth/components/alreadyRegistered/AlreadyRegistered.scss
  src/components/pages/auth/components/alreadyRegistered/AlreadyRegistered.tsx
  src/components/pages/auth/forgotPassword/ForgotPassword.scss
  src/components/pages/auth/forgotPassword/ForgotPassword.tsx
  src/components/pages/auth/login/Login.tsx
  src/components/pages/auth/registration/Registration.scss
  src/components/pages/auth/registration/components/firstStep/FirstStep.tsx
Due: none

[general] fix select
  src/components/pages/portal/internalTransfer/InternalTransfer.tsx
  src/components/pages/portal/transactionStatement/TransactionStatement.tsx
  src/components/pages/portal/withdrawal/Withdrawal.tsx
  src/components/shared/form/select/Select.scss
  src/components/shared/form/select/Select.tsx
  src/domain/interfaces/data/tradingAccounts.interface.ts
  src/domain/interfaces/data/transactionalStatement.interface.ts
  src/domain/interfaces/index.ts
  src/domain/models/index.ts
  src/domain/models/statements.ts
  src/store/_data.reducer.ts
  src/store/actions.ts
  src/store/sagas.ts
  src/store/store.enum.ts
  src/store/store.interface.ts
  src/utils/services/api.service.ts
Due: none
